
@{
    ViewBag.Title = "Error";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> </title>

</head>
<body>
    <div>

        <h2>WE'RE VERY SORRY FOR THE INCONVENIENCE....  PLEASE TRY AGAIN</h2>
        @Html.ActionLink("Navigate to Home Page", "Index", "Home")

    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

