
@{
    ViewBag.Title = "PageNotFound";
}
@{
    Layout = null;
}

<h2>You are not authorized to access this page</h2>


@Html.ActionLink("Navigate to Home Page", "Index", "Home")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> </title>
 
</head>
<body>
    <div>

    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}