
@{
    ViewBag.Title = "Scores";
}

<h2>Scores</h2>


<div>

    <div>
        <table border="1" cellpadding="1" class="table table-border">
            <tr class="tr-head">
                <th colspan="4">
                    Tennis Scoreboard !!!!
                </th>
            </tr>
            <tr>
                <td colspan="2" class="td">
                    Location:
                </td>
                <td colspan="2" class="td">
                    Date:
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="td">
                    Player 1!!!!!
                </td>
                <td class="td">
                    Player - 1
                </td>
                <td class="td">
                    Player - 2
                </td>
                <td rowspan="2" class="td">
                    Player 2!!!!!
                </td>

            </tr>
            <tr>
                <td colspan="2" class="td">
                    <table cellspacing="2" class="table">
                        <tr>
                            <td></td>

                            <th>Set -1</th>
                            <th>Set -2</th>
                            <th>Set -3</th>
                        </tr>
                        <tr>
                            <td class="td">Player - 1</td>

                            <td class="td">1</td>
                            <td class="td">6</td>
                            <td class="td">0</td>
                        </tr>
                        <tr>
                            <td class="td">Player - 2</td>

                            <td class="td">2</td>
                            <td class="td">4</td>
                            <td class="td">3</td>
                        </tr>
                    </table>

                </td>

            </tr>
            <tr class="tr-head">
                <th colspan="4">

                    Winner : PLAYERNAME !!!!!

                </th>
            </tr>
        </table>
    </div>


</div>