@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

<h4>Welcome ADMIN !!!!!</h4>


<div class="form-group">

    <div class="col-md-10">
        @Html.ActionLink("View Matches", "Index", "Matches")
    </div>

    <div class="col-md-10">
        @Html.ActionLink("View Matches", "Index", "Matches")
    </div>
    <div class="col-md-10">
        @Html.ActionLink("Edit Matches", "Edit", "Matches")
    </div>

    <div class="col-md-10">
        @Html.ActionLink("Add Players", "Create", "Matches")

    </div>
</div>




</body>
</html>
